// 이 scss는 각 요소 저장용 scss입니다.

/* Font Family */
$Primary-Kr: 'Atomy', sans-serif;
$Secondary-kr: 'Kakao', sans-serif;

/* Setting Variables : Text Color */
$dark-black: #333333; // 문서 본문 전체 텍스트 색상
$dim-black: #555555;
$silver-black: #777777;
$light-black: #999999;
$dark-gray: #BDBDBD;
$dim-gray: #DDDDDD;
$silver-gray: #EEEEEE; // 입력요소(input) 보더 색상
$light-gray: #F5F5F5;
$cloudy-gray: #F9F9F9;

/* Setting Variables : Object Color */
$light-green: #83B86E;
$forest-green: #85B214;
$olive-green: #779302;
$dark-green: #38761D;
$deep-green: #284327;
$footer-green : #5A7938;
$orangered: #FD5631;
$orange: #F7A501;
$yellow: #F6D202;
$blue: #5089EF;
$white: #ffffff;
$black: #000000;